/*---------------------------------------------------------------------------------

 Description:  Quick prototyper
 Author:       Walter Craig
 Author URI:   https://www.waltercraig.xyz/
 Version:      0.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------------- SCSS HERE ----------------------------------*/
@import './breakpoints.scss';
@import './grid.scss';

//Colours
$background: #FAF8F2;
$light-gray: #AFAEA9;
$black: #19140F;

h1 {
    color: $black;
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    margin-top: 0;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color: $background;
    color: $light-gray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}

.logo {
    max-width: 50px;

    img {
        height: auto;
        width: 100%;
        display: block;
    }
}

.pip-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: $black;
    color: $background;

    .col-xs-6:nth-child(even) {
        text-align: right;
    }

    a {
        color: $background;
        text-decoration: none;

        &:hover {
            color: $light-gray;
        }
    }
}